<!--Footer-->
<!--Code for bottom nav bar -->
<nav class="navbar fixed-bottom bg-dark navbar-dark">
    <div class="container-fluid">
      <h6 class="navbar-text">&copy; Copyright 2022. All rights reserved Sarujen</h6><!--title for bottom nav bar with copy right-->
      <a class="Gmail" aria-current="page" href="https://accounts.google.com/v3/signin/identifier?dsh=S1544473491%3A1667053894053284&continue=https%3A%2F%2Fwww.google.com%2Fwebhp%3Fauthuser%3D1&ec=GAZAmgQ&hl=en&passive=true&flowName=GlifWebSignIn&flowEntry=ServiceLogin&ifkv=AQDHYWqe2cWZH0VQLUXGTtFqxhBUo-9Z4mVNDFoVelSATS8_8y-HlswAuiyEeFxXkwPXvNC-iHfr" target="_blank"><i class="fa-solid fa-envelope fa-2x"></i></a>    
      <a class="GitHub" aria-current="page" href="https://github.com/SarujenNithi" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
      <a class="LinkedIn" aria-current="page" href="https://linkedin.com/in/sarujen" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
    <!--^ icons of socials and when clicked on leads to the website-->
    </div>
  </nav>