
  <%- include ('partials/header.ejs') %> <!--Link to different ejs files within the partials folder-->
  <%- include ('partials/main_nav.ejs') %>
<html>
  <body>
    <main>
      <div class="jumbotron"> <!--Display welcome message on top of page-->
        <h1 class="display-4">Welcome to Fifa Hub</h1>
        <hr class="my-4">
      </div>

      <h1>Fifa WorldCup Tracker</h1>
      <h2>Groups</h2>

      
        <table class="Box">
          <tr class="Box2">
            <td>Group A</td>
            <td>Group B</td>
            <td>Group C</td>
            <td>Group D</td>
            <td>Group E</td>
            <td>Group F</td>
            <td>Group G</td>
            <td>Group H</td>
          </tr>
          <tr>
            <td>Qatar</td>
            <td>England</td>
            <td>Argentina</td>
            <td>France</td>
            <td>Spain</td>
            <td>Belgium</td>
            <td>Brazil</td>
            <td>Portugal</td>
          </tr>
          <tr>
            <td>Ecuador</td>
            <td>Iran</td>
            <td>Saudi Arabia</td>
            <td>Australia</td>
            <td>Costa Rica</td>
            <td>Canada</td>
            <td>Serbia</td>
            <td>Ghana</td>
          </tr>
          <tr>
            <td>Senegal</td>
            <td>USA</td>
            <td>Mexico</td>
            <td>Denmark</td>
            <td>Germany</td>
            <td>Morocco</td>
            <td>Switzerland</td>
            <td>Uruguay</td>
          <tr>
            <td>Netherlands</td>
            <td>Wales</td>
            <td>Poland</td>
            <td>Tunisia</td>
            <td>Japan</td>
            <td>Croatia</td>
            <td>Cameroon</td>
            <td>Korea Republic</td>
          </tr>
        </table>
      


      <h5>Click below</h5>
      <a href="/Fifa-Team" class="btn btn-primary" role="button">
        <i class="fa-light fa-basketball"></i> Make Team</a>
     </main>

  </body>
</html>
<%- include ('partials/Bottom_nav.ejs') %> <!--Link to different ejs files within the partials folder-->
<%- include ('partials/footer.ejs') %>