body {
  background-color: darkseagreen;
  padding: 50px;
  height: auto;
  width: auto;
  font: 14px  Helvetica, Arial, sans-serif; /*Asigns font style, if one is not working it uses the next listed*/
}

a {
  color: #00B7FF; /*Changes color of writing */
}
main{
  background-color: lightblue; /*changes colour of background*/
  text-align: center; /*Aligns text center*/
  font:  Arial, sans-serif;
  height: auto;
  width: auto;
}
.col-sm {
  background-color: palegreen;
  height: 600px; /*assigns height and width*/
  width: 300px;
  margin: 20px; /*changes margin to 20px*/
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}


.subhbox {
  height: 600px;
  width: 100%;
  background-color: lightgreen;
  border-radius: 10px; /*curves the corners of boxes*/
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ContactForm {
  height: 500px;
  width: 100%;
  background-color: mediumseagreen;
  border-radius: 10px;
  font:"Lucida Grande", Helvetica, Arial, sans-serif;
}
.AMBox {
  height: 350px;
  width: 100%;
  background-color: mediumspringgreen;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}
Img {
  height: 200px;
  width: 200px; /* sets height and width*/

}
.Img1 {
  height: 50px;
  width: 50px;
}

video {
  height: 250px; /* sets height and width*/
  width: 250px;
}

input {
  border-radius: 5px;
  font:"Lucida Grande", Helvetica, Arial, sans-serif; /*sets font */
}
textarea {
  border-radius: 10px;
  font:"Lucida Grande", Helvetica, Arial, sans-serif;
}

input.Confirm{
  height: 25px;
  width: 25px;
}
.ConCheck{
  font-size: 30px;
}

.mainTitle{
  height: 75px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.nbaTeams{
  height: 150px;
  width: 150px;
}
.nbaTeamsBox1{
  height: 200px;
  width: 200px;

}

.container-fluid{
  height: 25px;
}




