
a {
  color: #00B7FF; /*Changes color of writing */
}
.col-sm {
  background-color: palegreen;
  height: 600px; /*assigns height and width*/
  width: 300px;
  margin: 20px; /*changes margin to 20px*/
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}


.subhbox {
  height: 600px;
  width: 100%;
  background-color: lightgreen;
  border-radius: 10px; /*curves the corners of boxes*/
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ContactForm {
  height: 500px;
  width: 100%;
  background-color: mediumseagreen;
  border-radius: 10px;
  font:"Lucida Grande", Helvetica, Arial, sans-serif;
}
.AMBox {
  height: 350px;
  width: 100%;
  background-color: mediumspringgreen;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}
Img {
  height: 200px;
  width: 200px; /* sets height and width*/

}
.Img1 {
  height: 50px;
  width: 50px;
}

video {
  height: 250px; /* sets height and width*/
  width: 250px;
}

input {
  border-radius: 5px;
  font:"Lucida Grande", Helvetica, Arial, sans-serif; /*sets font */
}
textarea {
  border-radius: 10px;
  font:"Lucida Grande", Helvetica, Arial, sans-serif;
}

input.Confirm{
  height: 25px;
  width: 25px;
}
.ConCheck{
  font-size: 30px;
}

.mainTitle{
  height: 75px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.nbaTeams{
  height: 150px;
  width: 150px;
}
.nbaTeamsBox1{
  height: 200px;
  width: 200px;

}

.container-fluid{
  height: 25px;
}
.background-image{
  height: 100%;
  width: 100%;
}

header {
  height: 100%;
  }

  .display-4{
    background-color: aliceblue;
    height: 75px;
    width: 100%;
  }

  main{
    text-align: center; /*Aligns text center*/
    font:  Arial, sans-serif;
    height: auto;
    color: black;
    width: 100%;
  }

  body{
    background: url(../images/grass.jpg) no-repeat center ;
    background-size: cover;
    height: 100%;
    width: 100%;
  }

.Box{
  height: 200px;
  width: 100%;  
  background-color: aliceblue;
  margin-left: auto;
  margin-right: auto;
}
.Box2{
  color: crimson;
}
.d-flex{
  background-color: aliceblue;
}

/*.logoImg{
  height: 25px;
  width: 25px;
}*/


